#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

/* Leaflet Zoom Controls unten links positionieren */
#map .leaflet-top.leaflet-left {
  top: auto !important;
  bottom: 100px !important;
  left: 16px !important;
}

#map .leaflet-control-zoom {
  margin-top: 0 !important;
}

/* Location Button */
.location-button {
  position: absolute;
  bottom: 100px;
  right: 16px;
  z-index: 1000;
  --background: #3880ff;
  --color: white;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  width: 56px;
  height: 56px;
  
  ion-icon {
    font-size: 28px;
  }
}
