:host ion-tab-bar {
  --background: var(--ion-background-color, #ffffff);
  --border-color: rgba(0, 0, 0, 0.08);
  border-top: 1px solid var(--border-color);
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
}

:host-context(html.ion-palette-dark) ion-tab-bar {
  --background: #000000 !important;
  --border-color: rgba(255, 255, 255, 0.08);
  border-top: 1px solid var(--border-color);
}
